@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #e5e5e5;
}

@media screen and (max-width: 992px) {
  .part-one-container {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-position: 20px 10px;
    background-image: url(./header-shapes\ mobile.png);
    background-size: contain;
    background-position-y: 40px;
    background-position-x: 1px;
    background-repeat: no-repeat;
    width: 100%;
    position: static;
    margin-bottom: 60px;
    background-color: white;
    border-bottom-left-radius: 80px;
    padding-bottom: 60px;
  }

  .menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .header-content {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: inherit;
    margin: 0 0;
    padding: 0;
  }

  .sub-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: black;
    border-radius: 50%;
    padding: 2px;
    align-content: center;
    text-align: center;
  }

  .bars-icon {
    margin: 20px;
    align-content: center;
    color: rgb(32, 28, 87);
  }

  ul {
    display: flex;
  }

  .image-intro ul {
    display: flex;
    list-style: none;
  }

  i {
    color: rgb(42, 37, 110);
    cursor: pointer;
  }

  .image-intro i {
    margin-right: 10px;
    font-size: 25px;
    color: rgb(38, 38, 73);
  }

  .bars-icon .bars i {
    font-size: 30px;
    cursor: pointer;
  }

  .main-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 30px;
  }

  p {
    margin-bottom: 10px;
    color: rgb(79, 88, 107);
  }

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(38, 38, 73);
  }

  .icons-title h3 {
    font-weight: 400;
    color: #7f8cff;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .first-image img {
    width: 320px;
    height: 240px;
    margin-left: -10px;
  }

  .first-card {
    margin-left: -10px;
    background-color: #e5e5e5;
    padding-top: 60px;
  }

  .first-card-section {
    margin-bottom: 90px;
  }

  .all-components {
    display: grid;
    margin: 16px;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 16px;
    margin-left: 25px;
    border: 1px solid #dfe1e6;
  }

  .all-components-one {
    display: grid;
    margin: 16px;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 16px;
    margin-left: 25px;
    border: 1px solid #dfe1e6;
  }

  .all-components-navigation {
    display: grid;
    margin: 16px;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 16px;
    margin-left: 25px;
    border: 1px solid #dfe1e6;
  }

  .about-myself-card {
    background-color: #fff;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }

  .all-components .about-myself-card {
    border-top-right-radius: 120px;
    background-color: #091e42;
  }

  .first-image {
    width: 300px;
    height: 260px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .tonic-content {
    margin-top: -10px;
  }

  .tonic-content h2 {
    font-size: 34px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  ul li {
    margin-top: 5px;
    margin-bottom: 8px;
    color: rgb(95, 95, 173);
  }

  .tonic-list li {
    font-size: 13px;
    color: #7a869a;
    line-height: 16px;
    margin-left: 25px;
    margin-top: -2px;
  }

  .tonic-content ul li {
    list-style: none;
  }

  .tonic-flex ul {
    display: flex;
    flex-direction: column;
  }

  .tonic-content-canopy {
    display: flex;
    align-items: baseline;
    width: 300px;
    margin-top: 10px;
  }

  .tonic-content-canopy p {
    color: #344563;
    position: static;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
  }

  .btn-tonic {
    padding: 10px;
    width: 140px;
    font-size: 18px;
    background-color: white;
    border: 1px #396df2 solid;
    border-radius: 8px;
    color: #396df2;
    cursor: pointer;
    margin-top: 20px;
  }

  .btn-tonic:hover {
    background-color: #ebebff;
    color: black;
  }

  .tonic-courses ul li {
    list-style: none;
    margin-right: 10px;
  }

  .tonic-courses ul li a {
    margin-top: 20px;
    text-decoration: none;
    color: #6070ff;
    background-color: #ebebff;
    padding: 4px 12px;
    border-radius: 8px;
    display: flex;
  }

  .second-card-section {
    margin-bottom: 90px;
  }

  .third-card-section {
    margin-bottom: 90px;
  }

  .fourth-card-section {
    margin-bottom: 90px;
  }

  .about-myself-card h1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .about-myself-card h3 {
    color: #7f8cff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .about-myself-card button {
    width: 200px;
  }

  .about-myself-card .languages {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .abt-myself-courses-line img {
    margin-bottom: 20px;
    width: 100%;
  }

  .about-myself-card .abt-myself-courses img {
    margin-bottom: 10px;
    object-fit: cover;
  }

  .contact-card-section {
    background-color: #6070ff;
    background-image: url(./asset/body.svg);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: 1px;
    padding-top: 80px;
    border-top-left-radius: 80px;
    color: white;
    width: 100%;
    position: static;
    background-size: cover;
  }

  .tonic-content-contact h2 {
    font-size: 38px;
    margin-left: 10%;
  }

  .contact-card-section .all-components {
    background-color: transparent;
    border: none;
  }

  .line {
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }

  .contact-card-section p {
    color: white;
    margin-bottom: 20px;
  }

  .contact-card-section .tonic-courses-about {
    display: grid;
    margin-top: 10px;
  }

  .contact-card-section .tonic-courses-about input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    margin-bottom: 15px;
    border: none;
  }

  .contact-card-section .tonic-courses-about textarea {
    color: rgb(202, 199, 199);
    border-radius: 8px;
  }

  .all-components-about {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    margin: 35px;
  }

  .all-components-about h2 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 18px;
    color: #091e42;
    line-height: 52px;
  }

  .all-components-about ul {
    list-style: none;
  }

  .abt-myself-courses-block {
    display: none;
  }
}
